<div class="nav">
    <div class="container">
        <div class="logo">
            <h1>Nishad <span>Rajesh</span></h1>
        </div>
        <nav>
            <ul>
                <li><a routerLink="/home">About</a></li>
                <li><a routerLink="/skills">Skills</a></li>
                <li><a routerLink="/experience">Experience</a></li>
                <li><a routerLink="/projects">Projects</a></li>
                <li><a routerLink="/contact">Contacts</a></li>
            </ul>
        </nav>
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/nishad-rajesh-9042491b6/"  target="_blank"><img src="../../../assets/icons/linkedin.png" alt="LinkedIn"></a>
            <a href="https://github.com/shadohmm" target="_blank"><img src="../../../assets/icons/github.png" alt="GitHub"></a>
        </div>
    </div>
</div>
<router-outlet></router-outlet>